{% extends 'master.html' %}
{% block content %}
{% load static %}


<div class="abt-sec-top row">

    <div class="container abt-sec-container">
        <div class="abt-top-row ">
            <div class="abt-top-left col-lg-6">
                <h3>About us</h3>
                <p>
                    The company carried out research on digital tuition concept  and launched its first phase
                    classes for Kerala state syllabus students. The company also launched
                    classes for CBSE Syllabus.
                </p>

                <p>
                    Technology changes every second, minute, and day. With the fast lane-changing technology and
                    discovery of new roads, we drive towards introducing digital tuition classrooms for state syllabus
                    as well as CBSE Syllabus.

                </p>

                <p>
                    “It’s not a lecture; it’s smartainment” - A smart way to teach and learn! Tuition classes will never
                    be the same again! With a fevered team of educators, teachers, animators, and management we created
                    material for the state syllabus aiming at Indian market.


                </p>

            </div>

            <div class="abt-top-right col-lg-6">
                <h3> What is MyTuition? </h3>
                <h5>Kids and Parents will love it all the same!</h5>

                <p>MyTuition- It’s more than just a tuition class. It’s a class you can never forget, as it
                    gets imprinted on to your mind forever. Moreover, it’s an easily accessible digital tuition class
                    that can be viewed multiple times at your own ease and convenience.</p>

                <p>Kids will want them and parents will be content to offer them to their children. They will find it
                    fun to study and attaining high scores will finally become easy. It’s a stress-free method even for
                    the parents as you can crosscheck how much the students have advanced through their lessons and how
                    much scores they have attained in their mock tests.</p>

            </div>



        </div>



    </div>



</div>

<div class="abt-sect-bottom">
    <div class="container">
        <div class="abt-bottom-row ">
            <div class="abt-bottom-col ">
                <div class="abt-bottom-img img-fluid">
                    <img src="{% static 'images/vision.png' %}" alt="">

                </div>
                <div class="abt-bottom-text">
                    <h5>Vision</h5>
                    <p>Our passion is to help the nationwide students to attain exceptional grades.</p>

                </div>

            </div>

            <div class="abt-bottom-col">
                <div class="abt-bottom-text">
                    <h5>Mission</h5>
                    <p>We revamp the quality of unveiling what has been learnt and effectively improve students' grades
                        with the aid of proficient tutors.</p>

                </div>
                <div class="abt-bottom-img img-fluid">
                    <img src="{% static 'images/mission.png' %}">

                </div>



            </div>



        </div>

    </div>

</div>










































{% endblock %}