
{% extends 'master.html' %}

{% load static %}
{% block content %}




<!-- /*  START OF HEAD PART  */ -->



<div class="row">
    <div class="col-lg-12">

        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">

                    <img src="{% static 'images/teachinfo.jpg' %}" class="img-fluid w-100 overlay" alt="">
                    <div class="carousel-caption  d-none d-md-block">



                        <div class="headndbread">

                            <h5 class="cteachtext animate__animated  animate__backInLeft animate__fast">Certified Teachers</h5>

                            <div class="breadcrumbs ">
                                <span>
                                    <a href="" style="text-decoration: none; color: white;">HOME
                                        <i class="fa fa-chevron-right"></i>
                                    </a>
                                </span>

                                <span>
                                    <a>TEACHERS
                                        <i class="fa fa-chevron-right"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>



<!-- /*  END OF HEAD PART  */ -->



<!-- /*  start OF staff list PART  */ -->




<div class="row ml-5 my-5 teachimg">
    <div class="col-lg-3 col-md-6">
        <div class="card staffdetails" style="width: 18rem; border: 0;">
            <img src="{% static 'images/teacher4.jpg' %}" class="card-img-top img-fluid" alt="Sunset Over the Sea"/>
            <div class="card-body">
                <h5 class="card-title staff-name">Ananya</h5>
                <span class="designation">Physics Teacher</span>
              <p class="card-text">Bachelors in Physics
               IIT Bombay,<br>4 Years of Experiance</p>
            </div>
          </div>
        
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="card staffdetails" style="width: 18rem; border: 0;">
            <img src="{% static 'images/teacher1.0.jpg' %}" class="card-img-top" alt="Sunset Over the Sea"/>
            <div class="card-body">
                <h5 class="staff-name">Nila S</h5>
                <span class="designation">Chemistry Teacher</span>
                <p class="card-text">Bachelors in Chemistry
                    University of Michigan,4 Years of Experiance</p>
            </div>
          </div>
        
    </div>


    <div class="col-lg-3 col-md-6">
        <div class="card staffdetails" style="width: 18rem; border: 0;">
            <img src="{% static 'images/teacher5.jpg' %}" class="card-img-top" alt="Sunset Over the Sea"/>
            <div class="card-body">
                <h5 class="card-title staff-name">Dhruv Pandey</h5>
                <span class="designation">Mathematics Teacher</span>
                <p class="card-text">Bachelors in Physics
                    from Delhi University,4 Years of Experiance</p>
            </div>
          </div>
        
    </div>


    <div class="col-lg-3 col-md-6">
        <div class="card staffdetails" style="width: 18rem; border: 0;">
            <img src="{% static 'images/teacher2.0.jpg' %}" class="card-img-top" alt="Sunset Over the Sea"/>
            <div class="card-body">
                <h5 class="card-title staff-name">Shuhaib Rahman</h5>
                <span class="designation">Physics Teacher</span>
                <p class="card-text">B.Tech - IIT-Roorkee ,<br> 12 Years of teaching experience</p>
            </div>
          </div>
        
    </div>




</div>


<div class="row ml-5 my-5 teachimg">
    <div class="col-lg-3 col-md-6">
        <div class="card staffdetails" style="width: 18rem; border: 0;">
            <img src="{% static 'images/teacher7.jpg' %}" class="card-img-top" alt="Sunset Over the Sea"/>
            <div class="card-body">
                <h5 class="card-title staff-name">Monshe Henderson</h5>
                <span class="designation">English Teacher</span>
                <p class="card-text">B.Tech and M.Tech- IIT Madras,<br> 5+ Years of teaching experience</p>
            </div>
          </div>
        
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="card staffdetails" style="width: 18rem; border: 0;">
            <img src="{% static 'images/teacher3.0.jpg' %}" class="card-img-top" alt="Sunset Over the Sea"/>
            <div class="card-body">
                <h5 class="card-title staff-name">Ayshwariya</h5>
                <span class="designation">Biology Teacher</span>
                <p class="card-text">Bachelors in Physics
                    from Delhi University,4 Years of Experiance</p>
            </div>
          </div>
        
    </div>


    <div class="col-lg-3 col-md-6">
        <div class="card staffdetails" style="width: 18rem; border: 0;">
            <img src="{% static 'images/teacher6.jpg' %}" class="card-img-top" alt="Sunset Over the Sea"/>
            <div class="card-body">
                <h5 class="card-title staff-name">Ishan Varma</h5>
                <span class="designation">Mathematics Teacher</span>
                <p class="card-text">Bachelors in Physics
                    from Delhi University,4 Years of Experiance</p>
            </div>
          </div>
        
    </div>


    <div class="col-lg-3 col-md-6">
        <div class="card staffdetails" style="width: 18rem; border: 0;">
            <img src="{% static 'images/teacher8.jpg' %}" class="card-img-top" alt="Sunset Over the Sea"/>
            <div class="card-body">
                <h5 class="card-title staff-name">Isha Agarwal</h5>
                <span class="designation">History Teacher</span>
                <p class="card-text">Bachelors in Physics
                    from Delhi University,4 Years of Experiance</p>
            </div>
          </div>
        
    </div>




</div>




<!-- /*  end OF staff list PART  */ -->


<div class="viewmore" style="width: 100%; height: 50px;">
    <a href="" class="viewmore2" style="text-decoration: none; color: rgb(0, 0, 0); ">View more
        <i class="fa fa-angle-double-right"></i>
    </a>
</div>
































{% endblock %}