{% extends 'teachmaster.html' %}
{% block content %}
{% load static %}



<div class="row m-2 std_details">
    <div class="col-lg-6 col-md-6 col-8 p-2">
        <div class="bookinghead">
            <h2>Student Details</h2>
            

        </div>

        <div class="col-lg-6 col-md-6 col-8 p-2">
            <div class="freearearight">
                <!-- free area  -->
            </div>
    
        </div>

    </div>

    
    <div class="w-100 text-center pt-4 std_detailstable">
        <div class="table-responsive-lg table-responsive-md">
            <table class="table table-hover table-bordered">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Class</th>
                    <th scope="col">Syllabus</th>
                    <th scope="col">Subject</th>
                  
                    <th scope="col">Class Start Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Hour</th>
                    <th scope="col">Status</th>
                    <th scope="col">Manage</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Rishi</td>
                    <td>8</td>
                    <td>CBSE</td>
                    <td>English</td>
                  
                    <td>21/03/22</td>
                    <td>1:00 PM</td>
                    <td>1 Month</td>
                    <td>2</td>
                    <td>
                        <button class="activeclass btn-success">Active</button>
                    </td>

                    <td>
                     <a class="btn btn-primary">View</a>
                  </td>

                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Rishi</td>
                    <td>8</td>
                    <td>CBSE</td>
                    <td>English</td>
                   
                    <td>21/03/22</td>
                    <td>1:00 PM</td>
                    <td>1 Month</td>
                    <td>1</td>
                    <td>
                        <button class="activeclass btn-danger">Finished</button>
                    </td>

                    <td>
                      <a class="btn btn-primary" >View</a>

                      <!-- <input type="file"  class="form-control-file"> -->
                   </td>

                  </tr>
                 
                </tbody>
              </table>
          </div>

    </div>








</div>


<!-- Modal -->




{% endblock %}